{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Documentation for this page",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210",
            "has_communication_links": true,
            "communication_url": "https://element:8081/#/room/#yourroom:synapse",
            "communication_link": "<a href=\"#\">Communication room</a>"
        }
    }
}}

<!-- Wavy SVG Transition -->
<div class="footer-wave-transition">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" class="wave-svg">
        <!-- Main wave -->
        <path d="M0,120V73.71c47.79-22.2,103.59-32.17,158-28,70.36,5.37,136.33,33.31,206.8,37.5C438.64,87.57,512.34,66.33,583,47.95c69.27-18,138.3-24.88,209.4-13.08,36.15,6,69.85,17.84,104.45,29.34C989.49,95,1113,134.29,1200,67.53V120Z" 
              opacity=".25" 
              fill="#7b1113"></path>
        <!-- Secondary wave -->
        <path d="M0,120V104.19C13,83.08,27.64,63.14,47.69,47.95,99.41,8.73,165,9,224.58,28.42c31.15,10.15,60.09,26.07,89.67,39.8,40.92,19,84.73,46,130.83,49.67,36.26,2.85,70.9-9.42,98.6-31.56,31.77-25.39,62.32-62,103.63-73,40.44-10.79,81.35,6.69,119.13,24.28s75.16,39,116.92,43.05c59.73,5.85,113.28-22.88,168.9-38.84,30.2-8.66,59-6.17,87.09,7.5,22.43,10.89,48,26.93,60.65,49.24V120Z" 
              opacity=".5" 
              fill="#7b1113"></path>
        <!-- Primary wave -->
        <path d="M0,120V114.37C149.93,61,314.09,48.68,475.83,77.43c43,7.64,84.23,20.12,127.61,26.46,59,8.63,112.48-12.24,165.56-35.4C827.93,42.78,886,24.76,951.2,30c86.53,7,172.46,45.71,248.8,84.81V120Z" 
              fill="#7b1113"></path>
    </svg>
</div>

<footer id="page-footer" class="py-3 py-5 text-light">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>
        <div class="row">
            <div class="col-6 col-lg-3">
                <ul class="footer-links">
                    <li><a href="https://ilc.upd.edu.ph/university-virtual-learning-environment">About UVLê</a></li>
                    <li><a href="https://ilc.upd.edu.ph/about">ILC Diliman</a></li>
                    <li><a href="https://helpdesk.ilc.upd.edu.ph/">Helpdesk</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul class="footer-links">
                    <li><a href="https://upd.edu.ph/aup/">Conference</a></li>
                    <li><a href="https://iskwiki.upd.edu.ph/index.php/Main_Page">Iskomunidad</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul class="footer-links">
                    <li><a href="https://upd.edu.ph/aup/">Acceptable Use Policy</a></li>
                    <li><a href="https://uvle.upd.edu.ph.dilc.info/local/privacy_notice.php">Privacy Notice</a></li>
                </ul>
            </div>
            <div class="col-6 copyright col-lg-3">
                <p class="h1 p-0 m-0">
                    UVLe
                </p>
                <p class="p-0 m-0 small">
                    The University Virtual Learning Environment<br/>
                    &copy; 2008-2021 ILC Diliman. Some rights reserved.<br/>
                    Homepage images provided by UPDIO and Jefferson Villacruz
                </p>
            </div>
        </div>
    </div>

    {{{ output.standard_end_of_body_html }}}
</footer>

{{#js}}
require(['theme_boost/footer-popover'], function(FooterPopover) {
    FooterPopover.init();
});
{{/js}}
