{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Documentation for this page",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210",
            "has_communication_links": true,
            "communication_url": "https://element:8081/#/room/#yourroom:synapse",
            "communication_link": "<a href=\"#\">Communication room</a>"
        }
    }
}}

<footer id="page-footer" class="py-3 py-5 text-light">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>
        <div class="row">
            <div class="col-6 col-lg-3">
                <ul class="footer-links">
                    <li><a href="https://ilc.upd.edu.ph/university-virtual-learning-environment">About UVLê</a></li>
                    <li><a href="https://ilc.upd.edu.ph/about">ILC Diliman</a></li>
                    <li><a href="https://helpdesk.ilc.upd.edu.ph/">Helpdesk</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul class="footer-links">
                    <li><a href="https://upd.edu.ph/aup/">Conference</a></li>
                    <li><a href="https://iskwiki.upd.edu.ph/index.php/Main_Page">Iskomunidad</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul class="footer-links">
                    <li><a href="https://upd.edu.ph/aup/">Acceptable Use Policy</a></li>
                    <li><a href="https://uvle.upd.edu.ph.dilc.info/local/privacy_notice.php">Privacy Notice</a></li>
                </ul>
            </div>
            <div class="col-6 copyright col-lg-3">
                <p class="h1 p-0 m-0">
                    UVLe
                </p>
                <p class="p-0 m-0 small">
                    The University Virtual Learning Environment<br/>
                    &copy; 2008-2021 ILC Diliman. Some rights reserved.<br/>
                    Homepage images provided by UPDIO and Jefferson Villacruz
                </p>
            </div>
        </div>
    </div>

    {{{ output.standard_end_of_body_html }}}
</footer>

{{#js}}
require(['theme_boost/footer-popover'], function(FooterPopover) {
    FooterPopover.init();
});
{{/js}}
