{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<div id="goto-top-link">
    {{! go to top is sticky to footer so needs to be sibling }}
    <a class="btn btn-light" role="button" href="#" aria-label="{{#str}} totop, theme_boost {{/str}}">
        {{#pix}} i/up, core{{/pix}}
    </a>
</div>
<footer id="page-footer" class="py-3 py-5 text-light">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>
        <div class="row">
            <div class="col-6 col-lg-3">
                <ul class="footer-links">
                    <li><a href="https://ilc.upd.edu.ph/university-virtual-learning-environment">About UVLê</a></li>
                    <li><a href="https://ilc.upd.edu.ph/about">ILC Diliman</a></li>
                    <li><a href="https://helpdesk.ilc.upd.edu.ph/">Helpdesk</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul class="footer-links">
                    <li><a href="https://upd.edu.ph/aup/">Conference</a></li>
                    <li><a href="https://iskwiki.upd.edu.ph/index.php/Main_Page">Iskomunidad</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul class="footer-links">
                    <li><a href="https://upd.edu.ph/aup/">Acceptable Use Policy</a></li>
                    <li><a href="https://uvle.upd.edu.ph.dilc.info/local/privacy_notice.php">Privacy Notice</a></li>
                </ul>
            </div>
            <div class="col-6 copyright col-lg-3">
                <p class="h1 p-0 m-0">
                    UVLe
                </p>
                <p class="p-0 m-0 small">
                    The University Virtual Learning Environment<br/>
                    &copy; 2008-2021 ILC Diliman. Some rights reserved.<br/>
                    Homepage images provided by UPDIO and Jefferson Villacruz
                </p>
                <div class="p-0 mt-2 small">
                    {{{ output.standard_footer_html }}}
                </div>
            </div>
        </div>
    </div>
    {{{ output.standard_end_of_body_html }}}
    
</footer>
