{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/navigation-drawer

    Navigation drawer content template.

    Context variables required for this template:
    * navigation - flat navigation object

    Example context (json):
    {
        "navigation": {}
    }
}}
<nav class="list-group" aria-label="{{#str}}navigation, core{{/str}}">
    {{#navigation}}
        {{#showdivider}}
            <div class="list-group-divider"></div>
        {{/showdivider}}
        {{#action}}
            <a class="list-group-item list-group-item-action {{#isactive}}active{{/isactive}} {{#classes}}{{.}} {{/classes}}" href="{{{action}}}" data-key="{{key}}">
                <div class="ms-{{get_indent}}">
                    <div class="d-flex align-items-center">
                        {{#icon}}
                            <span class="flex-shrink-0 me-2">
                                {{{icon}}}
                            </span>
                        {{/icon}}
                        <span class="flex-grow-1 {{#isactive}}fw-bold{{/isactive}}">{{{text}}}</span>
                    </div>
                </div>
            </a>
        {{/action}}
        {{^action}}
            <div class="list-group-item {{#classes}}{{.}} {{/classes}}" data-key="{{key}}">
                <div class="ms-{{get_indent}}">
                    <div class="d-flex align-items-center">
                        {{#icon}}
                            <span class="flex-shrink-0 me-2">
                                {{{icon}}}
                            </span>
                        {{/icon}}
                        <span class="flex-grow-1 fw-bold">{{{text}}}</span>
                    </div>
                </div>
            </div>
        {{/action}}
    {{/navigation}}
</nav>