#homepage-carousel-image-1 {
    content: url([[pix:theme_boost|carouselimage1]]);
}
#homepage-carousel-image-2 {
    content: url([[pix:theme_boost|carouselimage2]]);
}
#homepage-carousel-image-3 {
    content: url([[pix:theme_boost|carouselimage3]]);
}
